<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <img src="file://{{ image }}" />
    <div class="content">
      <div class="title">
        <h4 class="day">{{ day }}</h4>
        <h4 class="date">{{ month }}</h4>
      </div>
      <div class="display">
        {% for value in values %} 
        <div class="climate">
          <div class="local">
            <h1 style="color: white">{{ value['entidade'] }}</h1>
            <img src="{{ value['icone'] }}" />
          </div>
          <div class="temperature">
            <h1 class="min">{{ value['temp_min'] }}</h1>
            <h1 class="max">{{ value['temp_max'] }}</h1>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>

<!-- {'manha': {'cod_icone': '88', 'cod_temp_max_tende_icone': '86', 'cod_temp_min_tende_icone': '74', 'dia_semana': 'Terça-Feira', 'dir_vento': 'SW-W', 'entidade': 'Rondonópolis', 'estacao': 'Primavera', 'fonte': 'prevmet', 'hora': '17', ...}, 'noite': {'cod_icone': '58', 'cod_temp_max_tende_icone': '86', 'cod_temp_min_tende_icone': '74', 'dia_semana': 'Terça-Feira', 'dir_vento': 'NE-N', 'entidade': 'Rondonópolis', 'estacao': 'Primavera', 'fonte': 'prevmet', 'hora': '17', ...}, 'tarde': {'cod_icone': '87', 'cod_temp_max_tende_icone': '86', 'cod_temp_min_tende_icone': '74', 'dia_semana': 'Terça-Feira', 'dir_vento': 'W-SW', 'entidade': 'Rondonópolis', 'estacao': 'Primavera', 'fonte': 'prevmet', 'hora': '17', ...}} -->