<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div align="center">
      <img src="file://{{ image }}" />
      <p>
        DEFESA CIVIL DO ESTADO DE MATO GROSSO
        <br />
        CORDENADORIA DE PREVENÇÃO E PREPARAÇÃO
        <br />
        GERENCIA DE PREPARAÇÃO
      </p>
    </div>

    <div align="center">
      <h2>Sistema Hidro - Telemetria</h2>
      <p>
        Fonte:
        <a href="http://www.snirh.gov.br/gestorpcd/Mapa.aspx"
          >http://www.snirh.gov.br/gestorpcd/Mapa.aspx</a
        >
      </p>
    </div>

    <div align="center">
      <table>
        <thead>
          <th>Data</th>
          <th>Hora</th>
          {% if temperature %}
          <th>Temp. Inst</th>
          <th>Temp. Min</th>
          <th>Temp. Max</th>
          {% endif %}
          {% if "VENTO" in display %}
          <th>Vent. Vel(Km/h)</th>
          <th>Vent. Dir</th>
          <th>Vent. Raj(Km/h)</th>
          {% endif %}
          {% if "CHUVA" in display %}
          <th>Chuva(mm)</th>
          {% endif %}
        </thead>
        <tbody>
          {% for data in values %}
          <tr>
            <td>{{ data["date"] }}</td>
            <td>{{ data["hour"] }}</td>
            {% if temperature %}
            <td>{{ data["temp_inst"] }}</td>
            <td>{{ data["temp_min"] }}</td>
            <td>{{ data["temp_max"] }}</td>
            {% endif %}
            {% if "VENTO" in display %}
            <td>{{ data["wind_vel"] }}</td>
            <td>{{ data["wind_dir"] }}</td>
            <td>{{ data["wind_raj"] }}</td>
            {% endif %}
            {% if "CHUVA" in display %}
            <td>{{ data["rain_mm"] }}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
